#--no-index 
--trusted-host thedrop.sap-a-team.com
--find-links http://thedrop.sap-a-team.com/files/hana_ml-1.0.7.tar.gz
# Bring dependencies local with pip
Flask>=1.1.1
#Flask
#flask
#cfenv
#sap_py_jwt
#sap_xssec
#hdbcli
#pydevd
#https://pypi.org/project/cfenv/
cfenv
#https://pypi.org/project/sap-py-jwt/
sap-py-jwt
#https://pypi.org/project/sap-xssec/
sap-xssec
#https://pypi.org/project/hdbcli/
hdbcli
#git+https://github.com/alundesap/hana_ml#egg=hana_ml
#In a Jupyter Terminal...
#wget -c http://thedrop.sap-a-team.com/files/hana_ml-1.0.7.tar.gz
#pip3 uninstall hana_ml -y
#pip3 install hana_ml --find-links ./hana_ml-1.0.7.tar.gz
#git+https://github.com/alundesap/benign.git@sap-py-jwt
#git+https://github.com/alundesap/benign.git@PySec
#Use PyPi
#Use github
#git+https://github.com/alundesap/benign.git@hdbcli
#Use local from XS_PYTHON.zip unzipped into /tmp
#pip install -t local -f /tmp hdbcli
#./local/hdbcli-2.3.14.tar.gz
#git+https://github.com/alundesap/hana_ml#egg=hana_ml
#git+https://github.com/alundesap/hana_ml#egg=hana_ml
hana_ml
#Eclipse Based Debugging
#https://pypi.org/project/pydevd/
pydevd
#VSCode Based Debugging
#https://docs.microsoft.com/en-us/visualstudio/python/debugging-python-in-visual-studio?view=vs-2019
#ptvsd
